{% extends "template.html" %} {% block body %} 

<section id="content" class="main">
    <!-- <span class="image main"><img src="images/pic04.jpg" alt="" /></span>-->
    <h2>Qui sommes_nous ?</h2>
    <p>L’entreprise WYM a été fondée en 1985, dynamique, née d'une véritable passion pour la miniaturisation, la synthétique et la réalisation d‘installations électriques.
    <p>Notre savoir faire et nos compétences reposent sur un bureau d'études, nos compétences terrain et des personnels expérimentés et motivés.
    <p>Quelque soit votre projet, l’entreprise NOVAE vous accompagne, identifie l'ensemble de vos besoins et vous propose une installation personnalisée répondant à votre attente.</p>
    <h2>Notre livre blanc</h2>
    <p>Dans le but de parfaire notre modèle, nous capitalisons un maximum de retours client de manière à orienter nos objectifs en phase avec vos besoins.</p>
    <h2>Summary and synthesis: the difference?</h2>
    <p>Dans le but de parfaire notre modèle, nous capitalisons un maximum de retours client de manière à orienter nos objectifs en phase avec vos besoins.</p>							
    <p><strong>The summary in a few words:</strong></p>
    <ul><li>Abstracting is the process of writing a concise version of the original text.</li><li>The main idea and conclusions of the original text should not be overlooked when writing the final summary.</li><li>A text summary allows readers to quickly understand a long text and save time.</li></ul>
    <p><strong>Text synthesis in brief:</strong></p>
    <ul><li>Synthesis is the technique of gathering information from different sources to write a new text in which you <strong>formulate your own verdicts</strong>.</li><li>It is widely used in educational and vocational institutes to teach critical thinking and <strong>formulate an opinion</strong>.</li></ul>

</section>

{% endblock %}
