<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>Le formulaire de contact</title>
    </head>
    <body>
        <h1>Mon super site</h1>
        <p>Tout fonctionne parfaitement</p>
        <form action="http://localhost:5000/resultat" method="post">
                <label for="nom">Nom</label> : <input id="nom" type="text" name="nom" />
                <label for="mail">Mail</label> : <input id="mail" type="email" name="mail" />
                <label for="telephone">Téléphone</label> : <input id="telephone" type="tel" name="telephone" />
                <label for="message">Message</label> : <input id="message" type="text" name="message" />
                <input type="submit" value="Envoyer" />
        </form>
    </body>
</html>