<!DOCTYPE HTML>
<html>
	<head>
		<title>WYM.inc</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/static/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="/static/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header" class="alt">
						<span class="logo"><img src="/static/images/logo.png" alt="" /></span>
						<h1>le résumé de précision!</h1>
					</header>				

				<!-- Main -->
					<div id="main">

						<!-- Content -->
							<section id="content" class="main">
								<!-- <span class="image main"><img src="images/pic04.jpg" alt="" /></span>-->
								<h2>Qui sommes_nous ?</h2>
								<p>L’entreprise WYM a été fondée en 1985, dynamique, née d'une véritable passion pour la miniaturisation, la synthétique et la
réalisation d‘installations électriques.
								<p>Notre savoir faire et nos compétences reposent sur un bureau d'études, nos compétences terrain et des personnels expérimentés et motivés.
								<p>Quelque soit votre projet, l’entreprise NOVAE vous accompagne, identifie l'ensemble de vos besoins et vous propose une installation personnalisée répondant à votre attente.</p>
								<h2>Notre livre blanc</h2>
								<p>Dans le but de parfaire notre modèle, nous capitalisons un maximum de retours client de manière à orienter nos objectifs en phase avec vos besoins.</p>
								<h2>Summary and synthesis: the difference?</h2>
								<p>Dans le but de parfaire notre modèle, nous capitalisons un maximum de retours client de manière à orienter nos objectifs en phase avec vos besoins.</p>							
								<p><strong>The summary in a few words:</strong></p>

<ul><li>Abstracting is the process of writing a concise version of the original text.</li><li>The main idea and conclusions of the original text should not be overlooked when writing the final summary.</li><li>A text summary allows readers to quickly understand a long text and save time.</li></ul>
<p><strong>Text synthesis in brief:</strong></p>



<ul><li>Synthesis is the technique of gathering information from different sources to write a new text in which you <strong>formulate your own verdicts</strong>.</li><li>It is widely used in educational and vocational institutes to teach critical thinking and <strong>formulate an opinion</strong>.</li></ul>



								
							</section>

					</div>

				<!-- Footer -->
					<footer id="footer">
						<section>
							<h2>Pour toute requête, vous adresser à notre Guillaume</h2>
							<p>Sed lorem ipsum dolor sit amet et nullam consequat feugiat consequat magna adipiscing tempus etiam dolore veroeros. eget dapibus mauris. Cras aliquet, nisl ut viverra sollicitudin, ligula erat egestas velit, vitae tincidunt odio.</p>
							<ul class="actions">
								<li><a href="#" class="button">Contacter Guillaume</a></li>
							</ul>
						</section>
						<section>
							<h2>Son adresse</h2>
							<dl class="alt">
								<dt>Adresse</dt>
								<dd>1234 Somewhere Road &bull; Nashville, TN 00000 &bull; USA</dd>
								<dt>Phone</dt>
								<dd>(000) 000-0000 x 0000</dd>
								<dt>Email</dt>
								<dd><a href="#">griv@is.com</a></dd>
							</dl>
							<ul class="icons">
								<li><a href="#" class="icon brands fa-twitter alt"><span class="label">Twitter</span></a></li>
								<li><a href="#" class="icon brands fa-facebook-f alt"><span class="label">Facebook</span></a></li>
								<li><a href="#" class="icon brands fa-instagram alt"><span class="label">Instagram</span></a></li>
								<li><a href="#" class="icon brands fa-github alt"><span class="label">GitHub</span></a></li>
								<li><a href="#" class="icon brands fa-dribbble alt"><span class="label">Dribbble</span></a></li>
							</ul>
						</section>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>
