<!DOCTYPE HTML>
<html>
	<head>
		<title>WYM.inc</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/static/css/main.css" />
		<noscript><link rel="stylesheet" href="/static/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header" class="alt">
						<span class="logo"><img src="/static/img/logo.png" alt="" /></span>
						<h1>le résumé de précision!</h1>
					</header>

				<!-- Nav -->
				<nav id="nav">
					<ul>
						<li><a href="/" class="active">Home</a></li>
						<li><a href="/about">About</a></li>
						<li><a href="/contact">Contact</a></li>
						<li><a href="/data">Accès à la database</a></li>
						<li><a href="/text">Summerization</a></li>												
					</ul>
				</nav>

				<!-- Main -->
					<div id="main">

						<!-- Content -->
						{% block body %}{% endblock %}	

					</div>

				<!-- Footer -->
					<footer id="footer">
						<section>
							<h2>Pour toute requête, vous adresser à toute l'équipe du GuiLoSoRe :</h2>
							<p>Guillaume<br>Louis<br>Soros<br>Renaud</p>
							<ul class="actions">
								<li><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="button">Contacter Guillaume</a></li>
							</ul>
						</section>
						<section>
							<h2>Son adresse</h2>
							<dl class="alt">
								<dt>Adresse</dt>
								<dd>1234 Somewhere Road &bull; 38000 Grenoble &bull; FRANCE</dd>
								<dt>Phone</dt>
								<dd>+33 (0)6 12-34-56-78</dd>
								<dt>Email</dt>
								<dd><a href="mailto:griv@is.com">griv@is.com</a></dd>
							</dl>
							<ul class="icons">
								<li><a href="#" class="icon brands fa-twitter alt"><span class="label">Twitter</span></a></li>
								<li><a href="#" class="icon brands fa-facebook-f alt"><span class="label">Facebook</span></a></li>
								<li><a href="#" class="icon brands fa-instagram alt"><span class="label">Instagram</span></a></li>
								<li><a href="#" class="icon brands fa-github alt"><span class="label">GitHub</span></a></li>
								<li><a href="#" class="icon brands fa-dribbble alt"><span class="label">Dribbble</span></a></li>
							</ul>
						</section>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="/static/js/jquery.min.js"></script>
			<script src="/static/js/jquery.scrollex.min.js"></script>
			<script src="/static/js/jquery.scrolly.min.js"></script>
			<script src="/static/js/browser.min.js"></script>
			<script src="/static/js/breakpoints.min.js"></script>
			<script src="/static/js/util.js"></script>
			<script src="/static/js/main.js"></script>

	</body>
</html>
